# Movie Rating Prediction(codsoft)
using following algorithm :

Linear Regression

Random Forest Regression

Support Vector Regression

Importing the dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, r2_score

Loading the Dataset

In [2]:
path = '/content/drive/MyDrive/codsoft internship data science /movie_ratings.csv'
data = pd.read_csv(path , encoding='latin-1')

Exploring the Dataset

In [4]:
data.head()

   Unnamed: 0                movie  year  imdb  metascore    votes
0           0            Gladiator  2000   8.5       67.0  1187559
1           1              Memento  2000   8.5       80.0  1014199
2           2               Snatch  2000   8.3        NaN   707162
3           3  Requiem for a Dream  2000   8.3       68.0   688394
4           4                X-Men  2000   7.4       64.0   526411

In [5]:
data.head

<bound method NDFrame.head of       Unnamed: 0                          movie  year  imdb  metascore  \
0              0                      Gladiator  2000   8.5       67.0
1              1                        Memento  2000   8.5       80.0
2              2                         Snatch  2000   8.3        NaN
3              3            Requiem for a Dream  2000   8.3       68.0
4              4                          X-Men  2000   7.4       64.0
...          ...                            ...   ...   ...        ...
1795        1795  Transformers: The Last Knight  2017   5.2        NaN
1796        1796                     Mindhunter  2017   8.5        NaN
1797        1797          The Lego Batman Movie  2017   7.3       75.0
1798        1798            The Handmaid's Tale  2017   8.6        NaN
1799        1799            The Disaster Artist  2017   7.4       76.0

        votes
0     1187559
1     1014199
2      707162
3      688394
4      526411
...       ...
1795   113918
1796   111213
1797   111193
1798   106329
1799   106238

[1800 rows x 6 columns]>

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1800 non-null   int64
 1   movie       1800 non-null   object
 2   year        1800 non-null   int64
 3   imdb        1800 non-null   float64
 4   metascore   950 non-null    float64
 5   votes       1800 non-null   int64
dtypes: float64(2), int64(3), object(1)
memory usage: 84.5+ KB

In [8]:
data.info

<bound method DataFrame.info of       Unnamed: 0                          movie  year  imdb  metascore  \
0              0                      Gladiator  2000   8.5       67.0
1              1                        Memento  2000   8.5       80.0
2              2                         Snatch  2000   8.3        NaN
3              3            Requiem for a Dream  2000   8.3       68.0
4              4                          X-Men  2000   7.4       64.0
...          ...                            ...   ...   ...        ...
1795        1795  Transformers: The Last Knight  2017   5.2        NaN
1796        1796                     Mindhunter  2017   8.5        NaN
1797        1797          The Lego Batman Movie  2017   7.3       75.0
1798        1798            The Handmaid's Tale  2017   8.6        NaN
1799        1799            The Disaster Artist  2017   7.4       76.0

        votes
0     1187559
1     1014199
2      707162
3      688394
4      526411
...       ...
1795   113918
1796   111213
1797   111193
1798   106329
1799   106238

[1800 rows x 6 columns]>

In [9]:
data.shape

(1800, 6)

In [10]:
data.size

10800

Cheking the Statistical Measure of the data

In [11]:
data.describe()

       Unnamed: 0         year         imdb   metascore         votes
count  1800.00000  1800.000000  1800.000000  950.000000  1.800000e+03
mean    899.50000  2008.495556     7.239444   74.280000  3.176363e+05
std     519.75956     5.183780     0.818280    9.065475  2.151333e+05
min       0.00000  2000.000000     4.100000   61.000000  9.342800e+04
25%     449.75000  2004.000000     6.700000   67.000000  1.842225e+05
50%     899.50000  2008.500000     7.300000   73.000000  2.467390e+05
75%    1349.25000  2013.000000     7.800000   81.000000  3.825830e+05
max    1799.00000  2017.000000     9.900000  100.000000  2.020298e+06

Cheking for missing values in the dataset

In [12]:
data.isnull().sum()

Unnamed: 0      0
movie           0
year            0
imdb            0
metascore     850
votes           0
dtype: int64

Handling the missing values

In [13]:
imputer = SimpleImputer(strategy='mean')
data[['metascore']] = imputer.fit_transform(data[['metascore']])

Droping the irrelevant features

In [14]:
data.drop(['Unnamed: 0' , 'movie' ], axis=1, inplace=True)

Rechecking the dataset

In [15]:
data

      year  imdb  metascore    votes
0     2000   8.5      67.00  1187559
1     2000   8.5      80.00  1014199
2     2000   8.3      74.28   707162
3     2000   8.3      68.00   688394
4     2000   7.4      64.00   526411
...    ...   ...        ...      ...
1795  2017   5.2      74.28   113918
1796  2017   8.5      74.28   111213
1797  2017   7.3      75.00   111193
1798  2017   8.6      74.28   106329
1799  2017   7.4      76.00   106238

[1800 rows x 4 columns]

Spliting the Features and Target variables

In [16]:
# Split features and target variable
X = data.drop(columns=['imdb'])  # Features: Year, Metascore, Votes
y = data['imdb']  # Target: IMDb rating

Standardizing Features

In [17]:
scaler = StandardScaler()
linear_reg = LinearRegression()
random_forest = RandomForestRegressor(random_state=42)
svr = SVR()

X_scaled = scaler.fit_transform(X)

Training Each Model

In [18]:
linear_reg.fit(X_scaled, y)
random_forest.fit(X_scaled, y)
svr.fit(X_scaled, y)

SVR()

Calculating the MSE of each Regression

In [19]:

algorithms = [('Linear Regression', linear_reg),
              ('Random Forest', random_forest),
              ('Support Vector Regressor', svr)]


for name, model in algorithms:

    X_scaled = scaler.fit_transform(X)

    mse_scores = -cross_val_score(model, X_scaled, y, cv=5, scoring='neg_mean_squared_error')

    mean_mse = mse_scores.mean()

    print(f'{name}: Mean MSE = {mean_mse:.4f}')

Linear Regression: Mean MSE = 0.5299
Random Forest: Mean MSE = 0.5983
Support Vector Regressor: Mean MSE = 0.5174

Evaluating the models

In [20]:

user_input = {
    'year': 2000,
    'metascore': 67,
    'votes': 1187559
}

user_df = pd.DataFrame(user_input, index=[0])
user_scaled = scaler.transform(user_df)

linear_reg_pred = linear_reg.predict(user_scaled)
random_forest_pred = random_forest.predict(user_scaled)
svr_pred = svr.predict(user_scaled)

print("Predicted Ratings:")
print(f'Linear Regression: {linear_reg_pred[0]:.2f}')
print(f'Random Forest: {random_forest_pred[0]:.2f}')
print(f'Support Vector Regressor: {svr_pred[0]:.2f}')

Predicted Ratings:
Linear Regression: 8.45
Random Forest: 8.51
Support Vector Regressor: 8.40

Actual Output of the data is 8.5